<!doctype html>
<html>
<head>
    <title> JGitStats - $repositoryName </title>
</head>
<body>
    <h1> $repositoryName </h1>

    There are $numberOfCommits commits on <span class="branchName">$branchName</span> in $repositoryName

    <ul>
        <li> <a href="repository-head.html">Files in $branchName</a> </li>
        <li> <a href="line-diffs.html">Diffs in $branchName</a> </li>
        <li> <a href="authors.html">Authors in $branchName</a> </li>
    </ul>
</body>
</html>
