<!doctype html>
<html>
<head>
    <title> JGitStats </title>
</head>
<body>
    There are $numberOfCommits commits on <span class="branchName">$branchName</span>

    <ul>
        <li> <a href="repository-head.html">Files in $branchName</a> </li>
        <li> <a href="line-diffs.html">Diffs in $branchName</a> </li>
    </ul>
</body>
</html>
