<!doctype html>
<html>
<head>
    <title> JGitStats </title>
    <style type="text/css">
        .branchName {
            color: #e9967a;
        }
    </style>
</head>
<body>
    There are $numberOfCommits commits on <span class="branchName">$branchName</span>

    <a href="repository-head.html">Files in $branchName</a>
</body>
</html>
