<!doctype html>
<html>
<head>
    <title> JGitStats </title>
</head>
#set( $netLines = $addedLines - $removedLines)
<body>
    <h2>
        <span class="branchName">$branchName</span>
    </h2>

    Excluding binary files, and ignoring renames, there have been
        $addedLines lines added, and $removedLines lines removed.

    The net result is $netLines lines of text.
</body>
</html>
