<!doctype html>
<html>
<head>
    <title> JGitStats </title>
</head>
<body>
    <h1> Files in $repositoryName on $branchName </h1>

    There are a total of $totalLines lines of text in this repository.

    <table>
        <thead>
        <tr>
            <th> Path </th>
            <th> Is Binary? </th>
            <th> Number Of Lines </th>
        </tr>
        </thead>
        #foreach( $gitFile in $gitFiles )
            <tr>
                <td> $gitFile.path </td>
                <td> $gitFile.isBinary() </td>
                <td> #if($gitFile.isBinary())n/a#else$gitFile.numberOfLines#end </td>
            </tr>
        #end
    </table>


    <div>
        <a href="index.html">Index</a>
    </div>
</body>
</html>
